.main {
    background-color: $color-negro;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    .usuario {
        display: flex;
        align-items: center;
        gap: 15px;
        align-self: stretch;

        &__bienvenida {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
            gap: 0.5rem;

            h2 {
                font-size: 24px;
                margin: 0;
            }

            p {
                font-size: 16px;
                color: $color-grisesito;
                margin: 0;
                font-weight: 300;
            }
        }

        &__boton {
            font-size: 14px;
            padding: 10px 24px 10px 16px;
            border: none;
            border-radius: 100px;
            background-color: $color-verde;
            color: $color-negro;
        }
    }

    .infoPrincipal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;

        p {
            margin: 0;
        }

        &__cuenta {
            display: flex;
            align-items: flex-start;
            gap: 25px;
            align-self: stretch;

            div {
                display: flex;
                height: 113px;
                padding: 20px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 10px;
                border-radius: 8px;
                flex: 1 0 0;
                background-color: $color-cajas;

                h2 {
                    font-size: 24px;
                    margin: 0;

                }

                p {
                    margin: 0;
                    font-size: 14px;
                    color: $color-grisesito;
                }
            }
        }
    }

    .gestion {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        p {
            font-size: 16px;
            font-weight: 300;
        }

        .cajaBusqueda {
            display: flex;
            width: 100%;
            gap: 20px;

            .busqueda {
                display: flex;
                padding: 4px 4px 4px 20px;
                align-items: center;
                border-radius: 100px;
                gap: 4px;
                flex: 1 0 0;
                align-self: stretch;
                background-color: $color-gris;

                #caja {
                    display: flex;
                    font-size: 14px;
                    height: 48px;
                    align-items: center;
                    gap: 10px;
                    flex: 1 0 0;
                    align-self: stretch;
                    background-color: $color-gris;
                    border: none;
                    outline: none;
                }

                ::placeholder {
                    color: $color-blanco;
                    font-weight: 300;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                }

                #btnBusqueda {
                    display: flex;
                    width: 48px;
                    height: 48px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    background-color: $color-gris;
                    border: none;
                    border-radius: 20px;
                }

            }

            #filtros {
                display: flex;
                padding: 10px 16px 10px 12px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                align-self: stretch;
                width: 105px;
                background-color: $color-negro;
                border: none;

                p {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 300;
                }

            }
        }

        .listaDatos {
            display: flex;
            padding: 20px 0px 10px 0;
            gap: 10px;
            align-self: stretch;
            list-style: none;
            margin: 0;

            .listaDatos2 {
                display: flex;
                align-self: stretch;
                padding: 0;
                flex: 1 0 0;
            }

            li {
                display: flex;
                justify-content: flex-start;
                flex: 2 0 0;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0.5px;
                color: $color-grisesito;
            }
        }

        .cajaCuentas {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;

            #gestionCuentas {
                background-color: $color-cajas;
                border-radius: 8px;
                display: flex;
                padding: 20px;
                align-items: center;
                gap: 20px;
                align-self: stretch;

                img {
                    display: flex;
                    width: 40px;
                    padding: 3.333px;
                    justify-content: center;
                    align-items: center;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10px;
                    flex: 0.7 0 0;

                    h2,
                    p {
                        font-size: 14px;
                        margin: 0;
                        font-weight: 300;
                    }

                    p {
                        color: $color-grisesito;
                    }
                }

                p {
                    display: flex;
                    flex-direction: column;
                    flex: 1 0 0;
                    font-size: 14px;
                    font-weight: 300;
                    margin: 0;
                }

                #cuadroPendiente {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    flex: 1 0 0;

                    p {
                        display: flex;
                        width: 100px;
                        padding: 10px 20px;
                        align-items: center;
                        color: $color-rojo;
                        background-color: $color-rojofondo;
                    }
                }

                #btnGestionar {
                    display: flex;
                    padding: 10px 16px;
                    justify-content: center;
                    align-items: center;
                    align-self: stretch;
                    border: none;
                    border-radius: 100px;
                    color: $color-verdeClaro;
                    font-weight: 300;
                    font-size: 14px;
                    background-color: transparent;

                    &:hover {
                        background-color: $color-grisesito;
                    }
                }

            }
        }
    }
}