.seccion-agregar-ingreso {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;

    #volverAtrasFlecha {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 48px;
    }

    h1 {
        font-size: 22px;
        font-weight: 300;
    }
}

.main-agregar-ingreso {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: $color-negro;
    height: 100%;

    h1 {
        font-size: 24px;
        font-weight: 500;
    }

    p {
        font-size: 16px;
        font-weight: 300;
        color: $color-grisesito;
    }

    .agregar-ingresos {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;


        #ingreso-ocacional,
        #sueldo-fijo {
            display: flex;
            height: 200px;
            padding: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1px solid $color-grisesito;
            border-radius: 8px;
            flex: 1 0 0;
            text-decoration: none;
            img {
                width: 60px;
                height: 60px;
                flex-shrink: 0;
            }

            p {
                font-size: 16px;
                font-weight: 500;
            }

            &:hover {

                border-color: $color-verdefondo;
                background-color: $color-verdefondo;
            }
        }
    }
}