$color-blanco: #FBFBFB;
$color-gris: #40394A;
$color-grisesito: #D9D9D980;
$color-negro: #1C1427;
$color-rojo:  #E72252;
$color-rojofondo: #AF1C401A; 
$color-verde: #7ECA9C;
$color-verdeClaro: #CCFFBD;
$color-verdefondo: #7ECA9C4D;
$color-cajas: #40394A4D;