*{
    margin: 0;
    padding: 0;

    @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@400;500&display=swap');
    font-family:'Roboto', sans-serif;
    color: $color-blanco;
    font-weight: 500; 
    letter-spacing: 0.5px;
    line-height: 16px;
}
body{
    width: 900px;
    margin: auto;
}

.active{
    border-top: 2px solid $color-verdeClaro;
}